body {   
  background-color: LightGray;   
  color: black;   
}
table, th, tr, td {
  border: 1px solid DarkGray;
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
	background-color: yellow;
    color: hotpink;
}
a:active {
    color: blue;
}
